body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.darkContainer,
.darkContainer * {
    background-color: black !important;
    color: red !important;
}

.link {
    color: #000;
}

.homeAboutContact{
    display: flex;
    justify-content: space-around;   
}

.homeAboutContact *{
    text-decoration: none;
    color: #000;
}
